<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicwallpaper">

    <application>

        <service
            android:name=".MainWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true">

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper"/>
        </service>

        <service
            android:name=".DummyNotificationListener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">

            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
<activity android:name=".AppSelectActivity"/>
<activity
    android:name=".MainActivity"
    android:exported="true">

    <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>

</activity>
    </application>
</manifest>